@charset "utf-8";
/* CSS Document */



body{
    background-color:#c9af98;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;  
    background-size: cover;
    z-index: 0;
    padding: 0;
    margin: 0;

}	

h1  {
 color: #3a4660; 
 text-align: center;
 font-size: 2em;
 font-style: none;
 font-family: 'Arial';
 margin: auto;
}


h2  {
 color: #FFF;
 font-size: 2em;
 font-family: 'Arial';
 text-align:center;
 padding-top:0em;
}

h3{
 color: #FFF;
 font-size: 1.5em;
 font-family: 'Arial';
 text-align:center;
 margin-right: 18%;
}

h5{
 color: #3a4660;
 font-size: 2em;
 font-family: 'Arial';
 text-align:center;
 padding-top:0em; 
}

p {
 color: #FFF;
 font-size: 1em;
 font-family: 'Calibri';
 text-align:center;
 padding-top:0em;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}




/*------Navigation bar-------------------*/

#image{
    height: 100px;
    width: 130px;
    margin: auto;
}
  #nav-main a:hover{
	  text-shadow: 0.063em 0.125em 0.188em #555;
  }

header {
	overflow: auto;
    background: white;
    position: fixed;
    width: 100%;
    z-index: 3;
}

/*show-hide mobile-size nav nicely*/
#nav-mobile {
	line-height: 1.75em;
	text-align: center;
	font-weight: bold;
}

#nav-main a {
	display: block;
	text-align: center;
	line-height: 1.75em;
	text-decoration: none;
	color: #845007;
	font-weight: bold;
	height: 0;
	opacity: 0;
	visibility: hidden;
	transition: height 0.4s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
}
#nav-main:hover a {
	height: 1.75em;
	opacity: 1;
	visibility: visible;
}

nav a {
	display: inline-block;
	color: #555;
}

/* larger than mobile*/
@media screen and (min-width: 580px) {  
	#nav-main {
		text-align: right;
	}
	#nav-main #nav-mobile {
		display: none;
	}
	#nav-main a {
		margin: 1px;
		height: 1.75em;
		display: inline-block;
		visibility: visible;
		padding: 0 1em;
		opacity: 1;
		border-right: 3px solid #845007;
	}
	/*#nav-main a:hover {
		background: #FF8C00;
	}*/
	#nav-main a:last-child {
		border-right: none;
	}
}

/*-------------------  Main ---------------------- */

#intro {
    background: #3a4660;
    color: white;
    margin-top: 7em;
    padding-top: 1em;
    box-shadow: inset 0 0 10px #000000;   
}



/*---------- word animation-----------*/

.list{
	display: inline;
	text-indent: 10px;
}
.list span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
    animation: list 18s linear infinite;
}
.list span:nth-child(2) { 
	animation-delay: 3s; 
}
.list span:nth-child(3) { 
	animation-delay: 6s; 
}
.list span:nth-child(4) { 
	animation-delay: 9s; 
}
.list span:nth-child(5) { 
	animation-delay: 12s; 
}

@-webkit-keyframes list{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

/*------- work------------------*/
#work{
    border: solid white;
    /* creating a flex layout context */
  display: flex;
  /* defining the flow direction to allow the items to wrap */
  flex-flow: row wrap;
  /* defining how is distributed the remaining space */
  justify-content: space-around;
}
#title{
    width: 100%; /* To stop the title from interfering with the flax list */
}

section {
  box-sizing: border-box;
  font-family: 'Calibri';
  font-size: 1em;
  text-align: left;
}

@media screen and (min-width: 580px) {
  /* styles for above mobile sizes */
  section {
    width: 44%;
    margin: 10px; 
    display: inline-block;
    font-family: 'Calibri'; 
    text-align: left;
  }
}


/*-----------Gallery---------------------------------*/
#gallery {
    background: #3a4660;
    width: 100%;
    height: auto;
    color: white;
    margin-top: 1em;
    padding-top: 1em;
    box-shadow: inset 0 0 10px #000000;
}

#tiles {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  display: inline-block;
  margin-right: 10px;    
}

@media screen and (max-width: 580px) {
 #tiles {
   width: 200px;
   margin: auto; 
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   text-align: center;    
 }
}

/*------- Image hover effects ------------*/
.hovereffect {
  width: 100%;
  height: auto;
  float: left;
  overflow: hidden;
  position: relative; 
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: auto;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*--------   For Popups  -------------- */

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto; 
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
    z-index: 4;
}
.overlay2:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 5;
}

/* Settings for the close button */
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}

.popup .content {
  text-align:center;    
  max-height: 30%;
  overflow: auto; 
  color: black;
}

/* to get the image in a straight block on smaller screens */
@media screen and (max-width: 580px) {
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 65%;
    position: relative;
    transition: all 5s ease-in-out;
  }
}

/*------- for the polaroid photo gallery-----*/
figure, figcaption{ 
  display:block;
  font-family: 'Calibri';
}
#polaroid{
  padding:20px 10px;
  width:90%;
  overflow:hidden;
  margin: auto;
}
#polaroid figure{
  float:left; 
  position:relative; 
  width:200px;
  margin:10px 20px;
  padding: 6px 8px 10px 8px; 
  background: #eee6d8; 
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
}

@media screen and (max-width: 580px) {
  #polaroid{
    padding:20px 10px;
    width:90%;
    overflow:hidden;
  }
}

/*--------------- Slide show ---------------------*/
#slideshow { 
    margin: 50px auto; 
    position: center; 
    width: 100%; 
    height: auto; 
    padding: 0; 
    border: 5px solid #845007;;
    border-radius: 20%;
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}
#slideshow > img {
    width: 100%;
    height: auto;
    border-radius: 20%;
}

/*------------- Form ------------------------------*/
#cforms{
    background: #3a4660;
    color: white;
    margin-top: 7em;
    padding-top: 1em;
    box-shadow: inset 0 0 10px #000000;
    padding-bottom: 3px;
}

#message{
    width: 300px;
    height: 100px;
}

button{
    padding: 10px;
    color: #845007;
    background: #fff;
    width:100px;
    margin: 20px auto;
    margin-top: 0pc;
    border:0px;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    font-weight: bold;
}

/* Input feilds */

input[type="text"]{
    outline: none;
    padding: 10px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
}
#section3{
  box-sizing: border-box;
  font-family: 'Calibri';
  font-size: 1em;
  text-align: left;
}


@media screen and (min-width: 580px) {
  /* styles for above mobile sizes */
  #section3 {
    width: 40%;
    margin: 1%;
    padding: 0 4px .5em;
    display: inline-block;
    text-align: left;
    font-family: 'calibri';
  }

    #cforms{
    background: #3a4660;
    color: white;
    margin-top: 7em;
    padding-top: 1em;
    box-shadow: inset 0 0 10px #000000;   
}
      
}

/*---------------------------  Footer -------------------------*/
#section2{
    margin-top: 3px;
    height: auto;
    width: 250px;
    display: block;
    float: left;
}

@media screen and (max-width: 580px) {
  footer{
	color:#ccc;
	font-size:12px;
    overflow: auto; 
	z-index:-3;
	background-color:#31353a;
	background-image:-webkit-linear-gradient(top, #31353a, #2f3337);
	background-image:-moz-linear-gradient(top, #31353a, #2f3337);
	background-image:linear-gradient(top, #31353a, #2f3337);
 }
}


footer{
    display: flex;
  /* defining the flow direction to allow the items to wrap */
  flex-flow: row wrap;
  /* defining how is distributed the remaining space */
  justify-content: space-around;
    margin-top: 1em;
    height: auto;
	color:#ccc;
	font-size:12px;
	z-index:-3;
	background-color:#31353a;
	background-image:-webkit-linear-gradient(top, #31353a, #2f3337);
	background-image:-moz-linear-gradient(top, #31353a, #2f3337);
	background-image:linear-gradient(top, #31353a, #2f3337);
    
}

/* This sets a width to the outermost UL, center it and fix it to the window */

ul{
	width:90%;
	bottom:0;
	padding-bottom: 60px;
	z-index:-2;
}

/* The four columns of links */

 ul > li{
	width:90%;
	float:left;
}

 ul{
	list-style: none;
}

/* The links */

 ul > li ul li{
	text-transform: uppercase;
	font-weight:bold;
	line-height:1.8;
}

 ul > li ul li a{
	text-decoration: none !important;
	color:#7d8691 !important;
}

 ul > li ul li a:hover{
	color:#ddd !important;
}

footer p{
	width: 90%;
	margin-right: 10%;
	padding: 9px 0;
	line-height: 18px;
	background-color: #058cc7;
	font-weight: bold;
	font-size: 14px;
	color:#fff;
	text-transform: uppercase;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	margin-bottom: 20px;
	opacity:0.9;
	cursor:default;

	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

 ul > li:hover p{
	opacity:1;
}

footer p:before{
	display: inline-block;
	width: 16px;
	height: 18px;
	margin: 0 12px 0 15px;
	vertical-align: text-bottom;
}

footer p.map{
	background-color: #0096d6;
/* buttons should light up on hover from their dark shade */
	background-image:-webkit-linear-gradient(top, #0096d6, #008ac6);
	background-image:-moz-linear-gradient(top, #0096d6, #008ac6);
	background-image:linear-gradient(top, #0096d6, #008ac6);
}

footer p.map:before{
	background-position: 0 -110px;
}

footer p.services{
	background-color: #00b274;

	background-image:-webkit-linear-gradient(top, #00b274, #00a46b);
	background-image:-moz-linear-gradient(top, #00b274, #00a46b);
	background-image:linear-gradient(top, #00b274, #00a46b);
}

footer p.services:before{
	background-position: 0 -129px;
}

footer p.contact{
	background-color: #d75ba2;

	background-image:-webkit-linear-gradient(top, #d75ba2, #c75496);
	background-image:-moz-linear-gradient(top, #d75ba2, #c75496);
	background-image:linear-gradient(top, #d75ba2, #c75496);
}

footer p.contact:before{
	background-position: 0 -89px;
}

footer p.clients{
	background-color: #e9ac40;

	background-image:-webkit-linear-gradient(top, #e9ac40, #d89f3b);
	background-image:-moz-linear-gradient(top, #e9ac40, #d89f3b);
	background-image:linear-gradient(top, #e9ac40, #d89f3b);
}

footer p.clients:before{
	background-position: 0 -69px;
}
/*---------- second footer --------------*/

#secondfooter{
    height: 20px;
    width: 100%;
    margin-top: 5px;
    background-color: #fff; 
    text-align: center;
    text-decoration: none;
    color: #845007;
    font-weight: bold;
}



